@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto';
}

body{
    background-color: lightgray;
    display: grid;
    place-items: center;
}


.page{
    width:50vw;
    height:50vh;
    background-color: lightcoral;
    display: grid;
    overflow:hidden;
    position:fixed;
    place-items:center;
    border-radius: 1rem;
    top: 20vh;
    transition: .5s ease-in-out;
}

#chatPage{
    display: grid;
    grid-template-rows: 6fr 1fr;
    transition: 1s ease-in-out;
    padding: 2rem;
}
#namePage{
    
    transition: 1s ease-in-out;
}

.hidden{
    left:-100vw;
} 
#chatBox{
    background: white;
    padding: 1rem;
    overflow-y: scroll;
    width: 45vw;
    height: 25vh;
    border-radius: 1rem;
    color: black;
    /* overflow: hidden; */
}

.p{
    /* height: 1.5rem; */
    width: fit-content;
    height: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 1rem;
    margin-top: 0.5rem;
}


#chatBog p{
    color: green;
}

